<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sva.dao.AccountDao">

    <select id="getAccountByName" resultType="AccountModel">
        SELECT id, username, password 
        FROM sys_account 
        WHERE username = #{value}
    </select>
    
    <select id="getPersionByUsername" resultType="AccountModel">
        SELECT * 
        FROM sys_account 
        WHERE username = #{value}
    </select>
    
    <select id="getPersionById" resultType="AccountModel">
        SELECT * 
        FROM sys_account 
        WHERE id = #{value}
    </select>
    
    <select id="getCandidate" resultType="Integer">
        SELECT id
        FROM sys_account s 
        WHERE s.dept = #{dept} 
            and s.dept != ""
            and s.level &lt; #{prizeCode}
            and s.id not in (
                SELECT distinct(accountId) 
                FROM winning_record
            )
    </select>
    
    <select id="getCandidateByCard" resultType="Integer">
        SELECT id
        FROM sys_account s 
        WHERE s.dept = #{dept} 
            and s.dept != ""
            and s.gotFu = 1
            and s.level &lt; #{prizeCode}
            and s.id not in (
                SELECT distinct(accountId) 
                FROM winning_record
            )
    </select>
    
    <update id="updateOnlineTime">
        UPDATE sys_account
        SET lastHeartbeat = #{lastHeartbeat}, onLineTime = #{onLineTime}
        WHERE username = #{username}
    </update>
    
    <select id="getOnlineInfo" resultType="AccountModel">
        SELECT username, realname, onLineTime
        FROM sys_account
        WHERE dept != ""
        ORDER BY onLineTime desc
        LIMIT ${value}
    </select>
    
    <update id="refreshAccount">
        UPDATE sys_account
        SET onLineTime = 0
    </update>
    
    <select id="getLuckyCandidate" resultType="String">
        SELECT realname
        FROM sys_account s 
        WHERE s.dept != ""
              and s.id not in (
                SELECT distinct(accountId) 
                FROM winning_record
            )
    </select>
    
    <select id="getLuckyCandidateDetail" resultType="AccountModel">
        SELECT *
        FROM sys_account s 
        WHERE s.dept != ""
              and s.id not in (
                SELECT distinct(accountId) 
                FROM winning_record
            )
    </select>
    
    <select id="getAdReceiver" resultType="AccountModel">
        SELECT *
        FROM sys_account
        WHERE openid != ""
            and dept != ""
    </select>
    
</mapper>