<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sva.dao.HeatmapDao">

    <select id="getMapInfoById" resultType="MapsModel">
        SELECT * 
        FROM "maps"
        WHERE "mapId" = #{value}
    </select>
    
    <select id="getMapInfoByStation" resultType="MapsModel">
        SELECT "mapId", "floor"
        FROM "maps"
        WHERE "stationId" = #{value}
    </select>
    
    <select id="getHeatmapData" resultType="LocationModel">
        SELECT  t."x", t."y", t."mapId", t."timestamp", t."userId"  
        FROM (
            SELECT a.*, row_number() over(partition by a."userId" order by a."timestamp" desc) rw
            FROM "location" a 
            WHERE a."mapId" = #{mapId}
                and a."timestamp" &gt; #{starttime}
                and a."timestamp" &lt; #{endtime}) t  
        WHERE t.rw = 1
    </select>
    
</mapper>