<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sva.dao.WeixinDao">

	<select id="getAccountByOpenid" resultType="AccountModel">
		SELECT * FROM
		sys_account WHERE openid = #{openid} limit 1
	</select>

<select id="isLoginByOpenid" resultType="Integer">
		SELECT count(id) FROM
		sys_account WHERE openid = #{openid} 
	</select>

	<update id="updateHeart">
		update sys_account set lastHeartbeat=#{lastHeartbeat}
		where username=#{username}
	</update>

<select id="getAccountByUsernameAndPassword" resultType="AccountModel">
		SELECT * FROM
		sys_account WHERE username=#{username} and password=#{password}
	</select>


	<update id="login">
		update sys_account set
		openid=#{openid},lastHeartbeat=#{lastHeartbeat} where
		id=#{id} 
	</update>

	<update id="logout">
		update sys_account set openid='' where
		openid=#{openid}
	</update>

	<update id="changePassword">
		update sys_account set password=#{newPwd} where
		openid=#{openid} and password=#{oldPwd}
	</update>


	<select id="getFuList" resultType="FuModel">
		select id,remainCount,weight
		from sys_fu where remainCount!=0
	</select>

	<update id="changeOneFu">
		update sys_fu set remainCount=remainCount+#{one}
		where id=#{id}
	</update>

	<update id="userGetOneFu">
		update sys_account set
		${columnName}=${columnName}+1,remainRandomCount=remainRandomCount-1,nextRandomTime=#{nextRandomTime}
		where openid=#{openid}
	</update>



	<select id="getUserInfo" resultType="AccountModel">
		select * from sys_account
		where openid=#{openid}
	</select>


	<select id="getUserFus" resultType="AccountModel">
		select
		fu1,fu2,fu3,fu4,fu5,remainRandomCount,nextRandomTime from sys_account
		where openid=#{openid}
	</select>

	<update id="compoundOneFu">
		update sys_account set
		fu1=fu1-1,fu2=fu2-1,fu3=fu3-1,fu4=fu4-1,fu5=fu5+1 where
		openid=#{openid}
	</update>

	<select id="getAccountByUsername" resultType="AccountModel">
		SELECT * FROM
		sys_account WHERE username = #{username}
	</select>




	<update id="giveOneFu">
		update sys_account set
		${columnName}=${columnName}-1
		where
		username=#{username} and openid=#{openid}
	</update>

	<update id="acceptOneFu">
		update sys_account set
		${columnName}=${columnName}+1
		where username=#{username}
	</update>


	<select id="getUserFusByUsername" resultType="AccountModel">
		select
		fu1,fu2,fu3,fu4,fu5,remainRandomCount,nextRandomTime from sys_account
		where username=#{username}
	</select>

	<update id="compoundOneFuByUsername">
		update sys_account set
		fu1=fu1-1,fu2=fu2-1,fu3=fu3-1,fu4=fu4-1,fu5=fu5+1 where
		username=#{username}
	</update>

	<select id="getNextRandomTime" resultType="Date">
		SELECT nextRandomTime
		FROM
		sys_account WHERE openid = #{openid}
	</select>

	<select id="getCollectedPeople" resultType="AccountModel">
		SELECT * FROM
		sys_account WHERE fu5 > 0
	</select>

	<update id="updateFuInfo">
		UPDATE sys_account
		SET gotFu = #{flag}
		WHERE username =
		#{id}
	</update>


	<select id="getCountByFuId" resultType="Integer">
		SELECT remainCount FROM
		sys_fu WHERE id = #{fuId}
	</select>

	<update id="reduceCountByFuId">
		UPDATE sys_fu
		SET remainCount = remainCount -
		#{fuCount}
		WHERE id = #{fuId}
	</update>


	<select id="getRandomAccount" resultType="AccountModel">
		SELECT
		id,fu1,fu2,fu3,fu4,fu5,openid FROM sys_account where ${columnName}=0
		ORDER BY RAND() LIMIT #{fuCount}
	</select>

	<update id="updateRandomAccount" parameterType="List">

		update sys_account
		set  ${columnName}=${columnName}+1 where id in
		<foreach collection="list" item="item" index="index"
			separator="," open="(" close=")">
			#{item}
		</foreach>
	</update>

	<update id="compoundRandomAccount" parameterType="List" >
		update
		sys_account set fu1=fu1-1,fu2=fu2-1,fu3=fu3-1,fu4=fu4-1,fu5=fu5+1
		where id in
		<foreach collection="list" item="item" index="index" separator=","  open="(" close=")">
			#{item}
		</foreach>
	</update>
	
	<select id="getCardDetail" resultType="FuModel">
	   SELECT * FROM sys_fu ORDER BY totalCount
	</select>
	
	 <update id="initFuOfAccount">
        UPDATE sys_account
        SET fu1 = 0,fu2=0,fu3=0,fu4=0,fu5=0,gotFu=0,remainRandomCount=#{startcount},nextRandomTime=#{starttime}
    </update>
    
    <update id="initSysFu">
        UPDATE sys_fu
        SET remainCount = totalCount
    </update>
    
</mapper>